@model PRSwithMVC.ViewModels.ShowProducts
@{
    ViewBag.Title = "ShowProducts";
}

<h2>Available Products</h2>

<table class="table">
    <tr><th>Part Number</th><th>Product</th><th>Price</th></tr>
    @foreach (var Product in Model.Products) {
        <tr>
            <td>@Product.PartNumber</td>
            <td>@Product.Name</td>
            <td>@Product.Price</td>

        </tr>
    }
</table>
